.advantages {
  border-top   : 1px solid @border-lightgray;
  border-bottom: 1px solid @border-lightgray;
}

.advantages__heading {
  font-size  : 25px;
  line-height: 30px;
  font-weight: bold;
  margin-top : 34px;
  margin-left: 30px;
}

.advantages__list {
  list-style-type: none;
  padding        : 0;
  margin-bottom  : 61px;
  margin-left    : 30px;
}

.advantages__item {
  font-size  : 17px;
  line-height: 20px;
  font-weight: bold;

  padding-top: 86px;
}
