.contacts {
  border-top: 1px solid @border-lightgray;
}

.contacts__heading {
  font-size  : 18px;
  line-height: 30px;
  font-weight: bold;

  margin-top   : 44px;
  margin-left  : 29px;
  margin-bottom: 42px;
}

.contacts__wrapper {
  margin-bottom: 42px;
}

.contacts__mail {
  font-size  : 15px;
  line-height: 30px;
  color      : @text-gray;
  font-style : normal;

  margin     : 0;
  margin-left: 29px;
}

.contacts__location {
  font-size  : 15px;
  line-height: 30px;
  color      : @text-gray;
  font-style : normal;

  margin     : 0;
  margin-left: 29px;
}

.contacts__link {
  color               : @text-gray;
  text-decoration-line: none;
  border-bottom       : 1px solid @color-seafoam;
}

.contacts__emailtext {
  margin-right: 32px;
}

.contacts__adresstext {
  margin-right: 32px;
}

.contacts__map {
  width : 322px;
  height: 457px;

  margin       : 0 auto;
  margin-bottom: 39px;
}
