.contacts {
  width: 320px;
  margin: 0 auto 40px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding: 70px 0 0 174px;
    box-sizing: border-box;
    margin-bottom: 105px;
  }
}

.contacts__heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  padding-left: 28px;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding-left: 45px;
    margin-bottom: 49px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      width: 47px;
      height: 81px;
      top: -15px;
      right: 53px;
    }

    @media (min-width: @desktop-width) {
      right: 0;
      left: -61px;
      top: -8px;
    }
  }
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 29px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 0 49px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-bottom: 79px;
  }
}

.contacts__mail {
  font-size: 15px;
  line-height: 30px;
  color: @text-gray;
  font-style: normal;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    align-items: flex-start;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 29px;
  }
}

.contacts__link {
  color: @text-gray;
  text-decoration: none;
  margin-left: 30px;
  border-bottom: 1px solid @color-seafoam;

  @media (min-width: @tablet-width) {
    margin-left: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 25px;
  }

  &:hover,
  &:focus {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
    border-bottom: 1px solid rgba(70, 193, 174, 0.3);
  }
}

.contacts__location {
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  color: @text-gray;

  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-bottom: 0;
    margin-left: 53px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.contacts__adressinfo {
  width: 164px;
  margin-left: 32px;

  @media (min-width: @tablet-width) {
    width: 221px;
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 27px;
  }
}

.contacts__mapwrapper {
  margin-bottom: 34px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    right: 52px;
  }
}

.contacts__mapframe {
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 457px;
  }
}

.contacts__mappic {
  height: 100%;
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0;
  position: absolute;
  top: 0;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 457px;
    order: 4;
  }

  &::before {
    content: "";
    width: 67px;
    height: 100px;
    position: absolute;
    background: url("../img/icon-map-pin.svg");
    left: 139px;
    top: 145px;

    @media (min-width: @tablet-width) {
      left: 363px;
      top: 139px;
    }

    @media (min-width: @desktop-width) {
      left: 241px;
      top: 146px;
    }
  }
}
