.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--nojs .main-nav__list:not(.main-nav__list--incommingsale) {
  @media (max-width: @mobile-width-only) {
    display: block;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 14px;

  background-image: url("../../img/icon-menu-open.svg");
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;

  background-image: url("../../img/icon-menu-close.svg");

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__logo {
  padding: 22px 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid @border-lightgray;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 214px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    width: 180px;
  }
}

.main-nav__image {
  width: 86px;
  height: 35px;
}

.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--goodsorder {
    display: flex;
    flex-direction: column;
    width: 320px;

    @media (min-width: @tablet-width) {
      order: 3;
      flex-direction: row;
      justify-content: flex-end;
      width: 372px;
      background-color: #f9f9f9;
      border-top: 1px solid @border-lightgray;
    }

    @media (min-width: @desktop-width) {
      order: 1;
      width: 468px;
      background-color: white;
    }
  }

  &--searchcart {
    display: flex;
    flex-direction: column;
    width: 320px;

    @media (min-width: @tablet-width) {
      order: 2;
      flex-direction: row;
      width: 399px;
      margin-left: 158px;
    }

    @media (min-width: @desktop-width) {
      order: 3;
      margin-left: auto;
    }
  }

  &--incommingsale {
    display: none;

    @media (min-width: @desktop-width) {
      display: flex;
      order: 4;
      background-color: #f9f9f9;
      width: 468px;
      border-top: 1px solid @border-lightgray;
    }
  }
}

.main-nav__item {
  text-align: center;
  border-bottom: 1px solid @border-lightgray;

  @media (min-width: @tablet-width) {
    width: 167px;
  }

  @media (min-width: @desktop-width) {
    width: 234px;
  }

  &--loop {
    @media (min-width: @tablet-width) {
      width: 83px;
      border-left: 1px solid @border-lightgray;
      border-bottom: 0;
      box-sizing: border-box;
    }
  }

  &--basket {
    @media (min-width: @tablet-width) {
      width: 316px;
      border-left: 1px solid @border-lightgray;
      border-bottom: 0;
      box-sizing: border-box;
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      border-bottom: 0;
    }
  }

  &--sewing {
    @media (min-width: @tablet-width) {
      border-bottom: 0;
    }
  }

  &--incomming {
    @media (min-width: @desktop-width) {
      border-bottom: 0;
    }
  }

  &--sale {
    @media (min-width: @desktop-width) {
      border-bottom: 0;
    }
  }
}

.main-nav__link {
  text-decoration-line: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: black;

  display: block;
  box-sizing: border-box;

  padding: 32px 0;

  &--loop {
    @media (min-width: @tablet-width) {
      font-size: 0;
    }
  }

  &--basket {
    @media (min-width: @tablet-width) {
      padding-left: 20px;
    }
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      padding-bottom: 0;
      padding-top: 25px;
      font-size: 15px;
    }

    @media (min-width: @desktop-width) {
      font-size: 17px;
      padding-top: 36px;
      padding-bottom: 33px;
    }
  }

  &--sewing {
    @media (min-width: @tablet-width) {
      padding-bottom: 0;
      padding-top: 25px;
      font-size: 15px;
    }

    @media (min-width: @desktop-width) {
      font-size: 17px;
      padding-top: 36px;
      padding-bottom: 33px;
      border-left: 1px solid @border-lightgray;
    }
  }

  &--incomming {
    @media (min-width: @desktop-width) {
      font-size: 15px;
      padding-bottom: 0;
      padding-top: 25px;
    }
  }

  &--sale {
    @media (min-width: @desktop-width) {
      font-size: 15px;
      padding-bottom: 0;
      padding-top: 25px;
    }
  }
}

.main-nav__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 4;
    margin: 0;
    padding-left: 124px;
    padding-right: 52px;
    padding-top: 24px;

    background-color: #f9f9f9;
    border-top: 1px solid @border-lightgray;
    font-size: 15px;
    line-height: 24px;
    color: @text-gray;
  }

  @media (min-width: @desktop-width) {
    order: 5;
    padding-left: 406px;
  }
}
