.page-header__logo {
  display       : block;
  padding-top   : 22px;
  padding-bottom: 22px;
  box-sizing    : border-box;
  border-bottom : 1px solid @border-lightgray;

  width  : 86px;
  margin: 0 auto;

}

.page-header__logo-image {
  width : 86px;
  height: 35px;
}
