.page-footer {
  background-color: @bg-gray;

  display       : flex;
  flex-direction: column;
  align-items   : center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-footer__copyright {
  padding: 28px 0;
}
