.production {
  width: 262px;
  border: 1px solid @border-lightgray;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 668px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    position: relative;
    padding-left: 682px;
    margin-bottom: 105px;
  }

  &:hover .production__wrapper,
  &:focus .production__wrapper {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover .production__heading,
  &:focus .production__heading {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .production__wrapper {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .production__heading {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__heading {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  padding: 24px 0 23px 90px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding: 38px 0 32px 107px;
    border-top: 1px solid @border-lightgray;
    border-left: 1px solid @border-lightgray;
    border-right: 1px solid @border-lightgray;
  }

  @media (min-width: @desktop-width) {
    width: 148px;
    padding: 96px 141px 34px 78px;
    border-left: 0;
  }
}

.production__video {
  margin: 0;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
    order: -1;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.production__image {
  width: 260px;
  height: 150px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: @tablet-width) {
    width: 682px;
  }
}

.production__pic {
  width: 101px;
  height: 77px;
  position: absolute;
  top: 36px;
  right: 80px;

  @media (min-width: @tablet-width) {
    top: 189px;
    right: 284px;
  }

  @media (min-width: @desktop-width) {
    top: 190px;
    right: 290px;
  }

  &:hover,
  &:focus {
    width: 121px;
    height: 92px;
    top: 31px;
    right: 66px;

    @media (min-width: @tablet-width) {
      top: 181px;
      right: 279px;
    }
  }

  &:active {
    width: 81px;
    height: 62px;
    opacity: 0.3;
    top: 45px;
    right: 88px;

    @media (min-width: @tablet-width) {
      top: 197px;
      right: 293px;
    }

    @media (min-width: @desktop-width) {
      right: 301px;
    }
  }
}
.production__wrapper {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border-lightgray;
    border-left: 1px solid @border-lightgray;
    border-right: 1px solid @border-lightgray;
  }

  @media (min-width: @desktop-width) {
    border-left: 0;
  }
}

.production__text {
  font-size: 13px;
  line-height: 24px;
  color: @text-gray;

  width: 183px;
  margin: 0;
  padding-left: 34px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
    width: 581px;
    padding-left: 40px;
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 223px;
    padding-left: 78px;
    margin-bottom: 46px;
  }
}
