.product-card__link {
  font-size           : 17px;
  line-height         : 24px;
  font-weight         : bold;
  color               : black;
  text-decoration-line: none;

  margin-left: 28px;
}

.product-card__picture {
  width  : 260px;
  height : 195px;
  display: block;
  margin : 0 auto;
}

.product-card__features {
  font-size  : 13px;
  line-height: 30px;
  color      : @text-gray;

  margin       : 0;
  margin-left  : 29px;
  margin-bottom: 27px;
}

.product-card__price {
  font-size  : 15px;
  line-height: 24px;
  font-weight: bold;

  margin-left: 28px;
}
