.production {
  border       : 1px solid @border-lightgray;
  margin-bottom: 58px;
}

.production__heading {
  font-size  : 17px;
  line-height: 24px;
  font-weight: bold;

  padding-left : 91px;
  margin-top   : 29px;
  margin-bottom: 26px;
}

.production__video {
  width : 260px;
  height: 150px;

  margin       : 0 auto;
  margin-bottom: 34px;
}

.production__text {
  font-size  : 13px;
  line-height: 24px;
  color      : @text-gray;

  margin       : 0;
  margin-left  : 34px;
  margin-bottom: 29px;
}
