.product-types {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center -18px;
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  margin-bottom: 29px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    border-top: 1px solid #dfdfdf;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1149px auto;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}

.product-types__wrapper {
  @media (min-width: @tablet-width) {
    position: relative;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center;
      width: 100%;
      height: 24px;
      bottom: -13px;
      background-size: 765px auto;
    }

    @media (min-width: @desktop-width) {
      bottom: -20px;
      height: 36px;
      background-size: 1250px auto;
    }
  }
}

.product-types__heading {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  width: 244px;
  margin: 0 auto;
  padding-top: 71px;
  padding-bottom: 120px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 497px;
    padding-top: 154px;
    padding-bottom: 373px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 613px;
    padding-top: 154px;
    padding-bottom: 358px;
  }
}

.product-types__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.product-types__item {
  &--interior {
    background-color: @color-seafoam;
  }

  &--toys {
    background-color: @color-greenyblue;
  }

  &--interior:hover,
  &--interior:focus {
    @media (min-width: @tablet-width) {
      background-color: #59d5bc;
      margin-top: -5px;
    }
  }

  &--interior:active {
    @media (min-width: @tablet-width) {
      background-color: #59d5bc;
    }
  }

  &--toys:hover,
  &--toys:focus {
    @media (min-width: @tablet-width) {
      background-color: #46c1ae;
      margin-top: -5px;
    }
  }

  &--toys:active {
    @media (min-width: @tablet-width) {
      background-color: #46c1ae;
    }
  }
}

.product-types__link {
  text-decoration-line: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: white;

  display: block;
  width: 320px;
  margin: 0 auto;
  padding: 27px 0 28px 29px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 334px;
    padding: 27px 0 30px 37px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    padding: 27px 0 29px 37px;
  }

  &:active {
    @media (min-width: @tablet-width) {
      opacity: 0.3;
    }
  }
}

.product-types__icon {
  fill: #149080;

  &--interior {
    position: absolute;
    right: 36px;
    top: 24px;

    @media (min-width: @tablet-width) {
      top: 30px;
    }
  }

  &--toy {
    position: absolute;
    right: 26px;
    top: 23px;

    @media (min-width: @tablet-width) {
      right: 33px;
      top: 32px;
    }
  }
}
