.product-card {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }

  &:hover .product-card__wrapper,
  &:focus .product-card__wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .product-card__wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-card__wrapper {
  order: 1;
  border-left: 1px solid @border-lightgray;
  border-right: 1px solid @border-lightgray;
  border-bottom: 1px solid @border-lightgray;

  @media (min-width: @tablet-width) {
    border-left: 0;
    border-top: 1px solid @border-lightgray;
    width: 332px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    border-left: 1px solid @border-lightgray;
    border-top: 0;
    flex-grow: 1;
  }
}

.product-card__heading {
  margin: 27px 0 5px;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
  }
}

.product-card__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-decoration-line: none;

  display: block;
  padding-left: 27px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__features {
  font-size: 13px;
  line-height: 30px;
  color: @text-gray;

  margin: 0;
  padding-left: 27px;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    margin-bottom: auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.product-card__pricecartwrap {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid @border-lightgray;
  justify-content: space-between;

  padding: 21px 0 27px;
  margin: 0 27px;

  @media (min-width: @tablet-width) {
    margin: 0 31px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 25px;
    margin-top: auto;
  }
}

.product-card__price {
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.product-card__cartlink {
  @media (min-width: @desktop-width) {
    margin-right: 10px;
  }

  &:hover svg,
  &:focus svg {
    fill: @color-seafoam;
  }

  &:active svg {
    fill: @color-seafoam;
    opacity: 0.3;
  }
}

.product-card__cartlink-pic {
  width: 21px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.2);
}

.product-card__picture {
  width: 260px;
  height: 195px;
  display: block;
  background-color: @bg-gray;

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 316px;
    height: 462px;
  }
}
