.product-types {
  background: url("../../img/hero-mobile@1x.jpg") center no-repeat;
}

.product-types__heading {
  font-size  : 27px;
  line-height: 30px;
  font-weight: bold;
  text-align : center;

  width         : 244px;
  margin        : 0 auto;
  padding-top   : 76px;
  padding-bottom: 120px;

  @media (min-width: @tablet-width) {
    width         : 494px;
    padding-top   : 124px;
    padding-bottom: 371px;
  }

  @media (min-width: @desktop-width) {
    width         : 604px;
    padding-top   : 121px;
    padding-bottom: 354px;
  }
}

.product-types__list {
  list-style-type: none;
  margin         : 0 auto;
  padding        : 0;

  display       : flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width         : 668px;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
  }
}

.product-types__item {
  width : 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 334px;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
  }

  &--interior {
    background-color: @color-seafoam;
  }

  &--toys {
    background-color: @color-greenyblue;
  }
}

.product-types__link {
  text-decoration-line: none;

  font-size  : 19px;
  line-height: 24px;
  font-weight: bold;
  color      : white;

  display       : block;
  padding-left  : 29px;
  padding-top   : 30px;
  padding-bottom: 30px;
  box-sizing    : border-box;
}
