.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;

  width: 260px;
  border-bottom: 1px solid @border-lightgray;
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  width: 60px;
  padding-top: 25px;
  padding-bottom: 27px;
  text-align: center;
}
