.week-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding:0 30px;

  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding:0 50px;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.week-product__hwrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    margin-top: 117px;
    margin-bottom: 52px;
    z-index: 1;
  }
}

.week-product__contwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-left: 175px;
    position: relative;
  }
}

.week-product__heading {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @color-seafoam;

  margin: 0;
  margin-bottom: 22px;

  order: 1;

  @media (min-width: @tablet-width) {
    line-height: 17px;
    text-align: center;
    width: 70px;
    margin-right: 28px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    margin: 0;
    margin-left: 47px;
  }
}

.week-product__item {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @text-gray;

  width: 249px;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 282px;
    margin-right: 53px;
    margin-left: 0;
    margin-bottom: 53px;
  }
}

.week-product__table {

  box-sizing: border-box;
  margin-bottom: 28px;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 291px;
    margin-right: 43px;
    margin-left: 0;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 111px;
  }
}

.week-product__feature {
  font-size: 15px;
  line-height: 20px;
  color: @text-gray;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @border-lightgray;
}

.week-product__value {
  font-size: 15px;
  line-height: 20px;
  color: @text-gray;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
  border-bottom: 1px solid @border-lightgray;
}

.week-product__image {
  display: block;
  width: 260px;
  height: 315px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    width: 333px;
    height: 404px;
    position: absolute;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    width: 525px;
    height: 636px;
    right: 0;
    top: -100px;
  }
}

.week-product__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @text-gray;
  text-align: center;

  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-left: 74px;
    width: 146px;
    margin-bottom: 34px;
  }
}
